<!DOCTYPE html>
<html>
	<head>
		<title>Shopping List</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="app">
			<h1>Shopping List</h1>
			<label>Item: <input v-model="item" type="text" /> <button v-on:click="addToList">Add</button></label>
			<div>Item Count: {{list.length}}</div>
			<ul>
				<li v-for="item in list">{{ item }}</li>
			</ul>
		</div>

		<script>
			var app = new Vue({
				el: '#app',
				data: {
					list: [],
					item: '',
				},
				methods: {
					addToList: function () {
						this.list.push(this.item);
						this.item = '';
					},
				},
			});
		</script>
	</body>
</html>
