<!DOCTYPE html>
<html>
	<head>
		<title>Shopping List</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="app">
			<h1>Shopping List</h1>
			<label>Qty: <input v-on:keyup.enter="addToList" v-model.number="qty" type="number" /></label>
			<label
				>Item: <input v-on:keyup.enter="addToList" v-model="item" type="text" />
				<button v-on:click="addToList">Add</button></label
			>
			<div>Item Count: {{list.length}}</div>
			<ul>
				<li v-for="item in list">{{ item[0] }} x {{ item[1] }}</li>
			</ul>
		</div>

		<script>
			var app = new Vue({
				el: '#app',
				data: {
					list: [],
					item: '',
					qty: 1,
				},
				methods: {
					addToList: function () {
						this.list.push([this.qty, this.item]);
						this.item = '';
						this.qty = 1;
					},
				},
			});
		</script>
	</body>
</html>
